/* ====== Google Font Import ====== */
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap);

/* ====== Tag Global ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* ====== Variable Light Colors====== */
:root {
    --body-color: linear-gradient(180deg, #CAE6FF 0%, #DAEEFF 71.49%, #E3F5FF 97.66%);
    --body-color1: linear-gradient(180deg, #E3F5FF 0%, #DAEEFF 26.16%, #CAE6FF 97.66%);
    --button-color: linear-gradient(90deg, #D4F5FF 0%, #49AFFF 100%);
    --box-color:linear-gradient(180deg, #E8F6FF 0%, #FFF 100%);
    --header-color:rgba(255, 255, 255, 0.3);
    --shadow-color:rgba(0, 0, 0, 0.1);
    --menu-color: #edf7ff;
    --border-color:#000000;
    --icon-color: #1e448a;
    --icon-notif: #fff;
    --list-color:#0054AC;
    --commentBox-color:#fff;
    --primary-color: #49AFFF;
    --secondary-color: #d7d7d7;
    
    --text-color: #60b3fa;
    --text-active: #017cfe;
    --text-general: #0a0a0a;

    --color-danger:#FF463D;
}

/* ====== Variable Dark Colors ====== */
.dark {
    --body-color: linear-gradient(179deg, #1E1E1E 1.41%, #261E2C 42.84%, #1C0B38 103.87%);
    --body-color1: linear-gradient(179deg, #1C0B38 1.41%, #261E2C 62.44%, #1E1E1E 103.87%);
    --button-color: linear-gradient(90deg, #013398 0%, #2E73FF 100%);
    --box-color:linear-gradient(180deg, #DEEEFF 0%, #BDE7FF 100%);;
    --header-color:rgba(104, 104, 104, 0.247);
    --shadow-color:rgba(0, 0, 0, 0.1);
    --menu-color: #2c2c2c;
    --border-color:#fff;
    --icon-color: #eff8ff;
    --icon-notif: #DEEEFF;
    --list-color:#EFF8FF;
    --commentBox-color:#DEEEFF;
    --primary-color: #CAE6FF;
    --secondary-color: #2E73FF;
    
    --text-color:#757575;
    --text-active: #fff;
    --text-general: #fff;
    --color-danger: #FF463D;
}

/* ====== Tag Frame & Container ====== */
.app-frame {
    position: relative;
    background: var(--body-color);
}

.app-container {
    width: 100%;
    height: 200vh;
}

/* ============ Style Header ============ */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    z-index: 100;
    transition: all 300ms ease-in-out;
}

nav.scrolled .nav-bar {
    background: var(--header-color);
    box-shadow: 0 1px 20px 0 var(--shadow-color);
    backdrop-filter: blur(10px) saturate(150%);
    -webkit-backdrop-filter: blur(10px) saturate(150%);
}

.scroll-down nav .nav-bar{
    transform: translate3d(0, -100%, 0);
}

.scroll-up nav .nav-bar{
    filter: drop-shadow(0 0px 2px var(--header-color));
}

nav .nav-bar {
    position: relative;
    height: 100%;
    width: 100%;
    background: transparent;
    margin: 0 auto 0;
    padding: 4rem 8% 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 300ms ease-in-out;
}

nav .nav-bar .sidebarOpen {
    color: var(--icon-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo-navbar {
    display: none;
}

nav .nav-bar .navLogo a {
    display: flex;
}

nav .nav-bar .logo a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
}

nav .nav-bar .menu {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav .menu .logo-toggle .sidebarClose {
    display: none;
}

nav .border-navlinks {
    padding: 12px 20px;
    background: var(--menu-color);
    border-radius: 20px;
}

nav .nav-bar .nav-links {
    display: flex;
    align-items: center;
    gap: 40px;
}

nav .nav-bar .nav-links li {
    list-style: none;
}

nav .nav-links li a {
    position: relative;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

nav .navbar-link.link-active {
    color: var(--text-general);
}

.link-active {
    color: var(--text-active);
}

/* Dropdown */
nav .dropdown {
    position: relative;
    display: inline-block;
}

nav .dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;
}

nav .dropdown:hover .dropdown__arrow {
    transform: rotate(180deg);
  }


/* Dropdown Button */
nav .dropdown .dropbtn {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

nav .dropdown .dropbtn:hover {
    color: var(--text-active);
}

nav .dropdown .dropbtn i {
    margin-left: 5px;
}

nav .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--menu-color);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    top: 100%;
    width: 200px;
}

  /* Show dropdown menu & submenu */
  nav .dropdown:hover .dropdown-content {
    padding: 1rem 1rem 0 1rem;
    display: block;
}

nav .dropdown .dropdown-content a {
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    gap: .1rem;
    padding-bottom: 1rem;
}

nav .dropdown .dropdown-content a i {
    margin-right: 5px;
}

nav .dropdown .dropdown-content a:hover {
    color: var(--text-general);
}

nav .nav-bar .darkLigth-profile {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: right;
    gap: 2em;
}

nav .darkLigth-profile i {
    font-size: 24px;
    color: var(--icon-color);
}

nav .btn {
    background-color: #2D2A52;
    width: 95px;
    height: 36px;
    border-radius: 10rem;
    padding: 0 0.2rem;
    box-shadow: inset 0 4px 10px rgba(0,0,0,.3),
                inset 0 8px 8px rgba(0,0,0,.1),
                inset 0 -4px 4px rgba(0,0,0,.1),
                inset 0px -4px 4px 0px rgba(119, 119, 119, 0.20),inset 4px 4px 4px 0px rgba(35, 50, 109, 0.20),
                0px 0px 0px 8px #363261,
                0px -4px 8px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

nav .btn__indicator {
    background-color: #CAE6FE;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 8px 40px rgba(0,0,0, .2);
    transition: transform .3s ease;
}

nav .btn__icon-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .btn_icon {
    color: var(--dark-icon-color);
    font-size: 1.8em;
}

nav .btn_text {
    position: absolute;
    left: 43px;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: #fff;
}

/* Animation Dark/Ligth */
nav .btn_icon.animated {
    animation: spin 0.5s;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.dark .btn {
    background-color: #F6F6FE;
    padding: 0 0.2rem;
    box-shadow: 
                inset -4px 4px 0px rgba(255, 255, 255, 0.25), 
                inset 0px 2px 3px rgba(35, 50, 109, 0.20),
                inset 0px -2px 3px rgba(35, 50, 109, 0.20),
                0px 0px 0px 8px #F8F9FE;
}

.dark .btn__indicator {
    transform: translateX(3.6em);
    background-color: #1E1E1E;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.dark .btn_icon {
    color: #EFF8FF;
}

.dark .btn_text {
    position: absolute;
    left: -98px;
    transform: translateX(7rem);
    color: #0A0A0A;
}

nav .darkLigth-profile .profileToggle {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--menu-color);
    border-radius: 50%;
}
nav .darkLigth-profile .notif {
    margin-right: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--menu-color);
    border-radius: 50%;
}

nav .darkLigth-profile .startProfile .start {
    background-color: var(--menu-color);
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--text-active);
}

/* .dark-light i, */
nav .profileToggle i,
nav .notif i {
    position: absolute;
    color: var(--icon-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

nav .profileToggle i.cancel {
    opacity: 0;
    pointer-events: none;
}

nav .profileToggle.active i.cancel {
    opacity: 1;
    pointer-events: auto;
}

nav .profileToggle.active i.search {
    opacity: 0;
    pointer-events: none;
}

nav .notif i.cancel {
    opacity: 0;
    pointer-events: none;
}

nav .notif.active i.cancel {
    opacity: 1;
    pointer-events: auto;
}

nav .notif.active i.search {
    opacity: 0;
    pointer-events: none;
}

nav .darkLigth-profile .profileBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}

nav .darkLigth-profile .startProfile {
    cursor: pointer;
    display: block;
}

nav .darkLigth-profile .startProfile a {
    text-decoration: none;
    color: inherit;
}

nav .profileBox .notif::before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    background: red;
    border-radius: 50%;
    top: 8px;
    left: 22px;
    z-index: 2;
}

nav .profileBox .profil {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

nav .profileBox .profil span {
    color: var(--text-general);
}

nav .profileBox .popup-profile {
    position: absolute;
    bottom: -20rem;
    right: 0px;
    background-color: var(--menu-color);
    width: 300px;
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

nav .profileToggle.active~.popup-profile {
    bottom: -16rem;
    opacity: 1;
    pointer-events: auto;
}

nav .popup-profile::before {
    content: "";
    position: absolute;
    right: 14px;
    top: -4px;
    transform: rotate(-45deg);
    height: 12px;
    width: 12px;
    background-color: var(--menu-color);
    z-index: -1;
}

nav .popup-profile .popupBox {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 16px 8px;
    width: 100%;
    gap: 12px;
}

nav .popupBox .headerProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

nav .headerProfile img {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: 2px solid var(--border-color);
}

nav .headerProfile span {
    line-height: 22px;
    font-weight: 400;
}

nav .popupBox .contentBox {
    display: flex;
    flex-direction: column;
}

nav .popupBox .contentBox a {
    line-height: 22px;
    text-decoration: none;
    padding: 8px 12px;
    position: relative;
}

nav .contentBox a.reds::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 8.75rem;
    height: 1px;
    background: #D9D9D9;
}

nav .contentBox a.reds span {
    font-weight: 600;
    color: var(--color-danger);
}

/* Perbatasan Notif */
nav .profileBox .view-notif {
    position: absolute;
    bottom: -34rem;
    background-color: var(--menu-color);
    height: 29rem;
    width: 500px;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
    border-radius: 20px;
}

nav .notif.active~.view-notif {
    bottom: -30rem;
    opacity: 1;
    pointer-events: auto;
}

nav .view-notif .title {
    width: 100%;
    padding: 32px 32px;
    color: var(--text-general);
}

nav .view-notif .tab {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

nav .tablinks.active {
    box-shadow: 0px 1px 0px 0px #1E448A;
    color: #017CFE;
}

nav .view-notif .tab button {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
    font-size: 14px;
    color: #9E9E9E;
    line-height: 24px;
    transition: border-bottom 3s ease;
}

nav .view-notif .tab button {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 24px;
    transition: color 0.5s ease, box-shadow 0.5s ease, background-color 0.5s ease;
}

nav .view-notif .tab button:hover,
nav .view-notif .tab button.active {
    box-shadow: 0px 1px 0px #1E448A;
    color: #017CFE;
}


nav .view-notif .tabcontent.active {
    display: block;
}

nav .view-notif .tabcontent {
    width: 100%;
    display: none;
    padding: 6px 12px;
    overflow: hidden;
}

nav .view-notif .tabcontent .pesanBox {
    position: relative;
    gap: 15px;
    display: flex;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    cursor: pointer;
}

nav .view-notif .tabcontent .pesanBox::before {
    content: '';
    position: absolute;
    width: 31.3rem;
    height: .2px;
    background: #616161;
    bottom: 0;
}

nav .view-notif .tabcontent .pesan-Icon {
    width: 10%;
    position: relative;
}

nav .view-notif .tabcontent .pesan-Icon .circle-svg {
    background-color: var(--icon-notif);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

nav .view-notif .tabcontent .pesan-Icon svg {
    width: 20px;
}

nav .view-notif .tabcontent .pesan-Content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 80%;
    font-size: 14px;
    color: var(--text-general);
}

nav .view-notif .tabcontent .pesan-Content button {
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid #757575;
    background-color: transparent;
    color: var(--text-general);
    cursor: pointer;
}

nav .view-notif .tabcontent .pesan-time {
    width: 10%;
    font-size: 11px;
    color: var(--text-general);
    display: flex;
    justify-content: center;
}

/* ================================== MAIN ================================== */
main section:nth-child(even) {
    background: var(--body-color1);
    color: var(--text-general);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
}

main section:nth-child(odd) {
    background: var(--body-color);
    color: var(--text-general);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
}

/* ============== Kumpulan Animasi ============== */
main section .animate-title {
    transform: translateY(-50px);
    opacity: 0;
    transition: all .5s cubic-bezier(0.390, 0.575, 0.565, 1.000);
    filter: blur(5px);
}

main section.show-animate .animate-title {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
}

main section .animate-image {
    opacity: 0;
    transition: all .5s cubic-bezier(0.390, 0.575, 0.565, 1.000);
    filter: blur(5px);
}

main section.show-animate .animate-image {
    filter: blur(0);
    opacity: 1;
}

main .sec-1 .animate1 {
    transform: translateX(1000px);
    opacity: 0;
    transition: all .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) calc(.1s * var(--a));
    filter: blur(5px);
}

main .sec-1.show-animate .animate1 {
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
}

main .sec-1 .animate2 {
    transform: translateX(-50px);
    opacity: 0;
    transition: all .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) calc(.1s * var(--a));
    filter: blur(5px);
}

main .sec-1.show-animate .animate2 {
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
}

main .sec-2 .animate1 {
    transform: translateX(-1000px);
    opacity: 0;
    transition: all .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) calc(.1s * var(--a));
    filter: blur(5px);
}

main .sec-2.show-animate .animate1 {
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
}

main .sec-2 .animate2 {
    transform: translateX(50px) translateY(50px);
    opacity: 0;
    transition: all .5s cubic-bezier(0.390, 0.575, 0.565, 1.000);
    filter: blur(5px);
}

main .sec-2.show-animate .animate2 {
    transform: translateX(0) translateY(0);
    filter: blur(0);
    opacity: 1;
}

footer .animate1 {
    transform: translateX(50px) scale(.7);
    transition: all .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) calc(.1s * var(--a));
    opacity: 0;
    filter: blur(5px);
}

footer.show-animate .animate1 {
    transform: translateX(0) scale(1);
    filter: blur(0);
    opacity: 1;
}

footer .animate2 {
    transform: translateX(-50px);
    transition: all .5s cubic-bezier(0.390, 0.575, 0.565, 1.000);
    opacity: 0;
    filter: blur(5px);
}

footer.show-animate .animate2 {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
}

/* Activity Section */
main .recap-section { 
    padding: 8.5rem 8% 5rem;
}

main .recap-content {
    display: flex;
    gap: 8rem;
}

main .recap-image {
    width: 85%;
    animation: float 6s ease-in-out infinite;
}

main .recap-image img {
    width: 100%;
    height: auto;
    transition: filter 1s ease;
}

main .recap-image img:hover {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

main .recap-list {
    width: 100%;
}

main .recap-list h2 {
    background: #017CFE;
    background: linear-gradient(to right, #017CFE 5%, var(--text-general) 25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    line-height: 1.2;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    margin-bottom: 20px;
    letter-spacing: 0.96px; 
}

main .recap-list p {
    color: var(--text-general);
    font-size: 1.2rem;
}

main .recap-stats {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 17px;
    margin-top: 48px;
}

main .stat {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #e6f1ff;
    color: #0f0e17;
    border-radius: 12px;
    padding: 1rem 20px;
    width: 100%;
    border: 1px #383838;
    box-shadow: 4px 4px 4px 0px rgba(200, 200, 200, 0.25);
}

main .stat svg {
    width: 40px;
    height: 40px;
}

main .stat h3 {
    font-size: 20px;
    font-weight: 700;
    color: #0f0e17;
}

main .stat p {
    font-size: 14px;
    color: #131313;
}

/* Challenge Section */
main .challenge-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4.5rem;
    padding: 5rem 8%;
}

main .challenge-content {
    width: 75%;
}

main .challenge-content h3 {
    background: linear-gradient(to right, var(--text-general) 15%, #017CFE 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    margin-bottom: 10px;
    letter-spacing: 0.96px;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

main .challenge-content p {
    color: var(--text-general);
    font-size: 1.2rem;
}

main .challenge-content .challenge-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main .challenge-content .challenge-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px; 
    height: 50px; 
    background: var(--button-color);     
    font-size: 1rem;
    letter-spacing: 1px;
    box-shadow: 2px 2px 9px #636363; 
    border-radius: 12px;
    cursor: pointer;
    margin-top: 10px;
}

main .challenge-content .challenge-button a{
    text-decoration: none;
    color: var(--text-general);
}

main .challenge-content .challenge-button:hover {
    background: transparent; 
    border: 2px solid #2E73FF;
}

main .challenge-content .challenge-button:hover::before {
    width:100%; 
}

main .challenge-daily {
    width: 100%;
    padding: 24px; 
    background: #2C2C2C; 
    box-shadow: 4px 4px 4px rgba(199.75, 199.75, 199.75, 0.25) inset,2px 2px 9px #474747; 
    border-radius: 16px; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    gap: 20px; 
    display: inline-flex;
}

main .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
}

main .chl {
    display: flex;
    align-items: center;
    gap: 12px;
}

main .chl h2 {
    color: white;  
    font-size: 20px; 
    font-weight: 700; 
    align-items: center;
}

main .popup-active .chl h2 {
    display: none;
}

main .look {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 0.5px #ffffff solid; 
    font-size: 0.2rem;
    position: relative;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 7000px;   
}

main .look:hover path {
    transition: fill .3s ease-in;
    fill: #3C93F5;
}

main .look p {
    font-size: 15px;
    color: #ffffff;
}

main .cards {
    display: flex;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 17px;
}

main .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    color: #0f0e17;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    box-shadow: 2px 2px 8px #636363; 
}

main .card p {
    margin: 0;
    font-size: 13px;
    color: #0f0e17;
}

main .card h2 {
    margin: 0;
    margin-top: 3px;
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: bold;
    color: #0f0e17;
}

main .card p {
    margin: 0;
    font-size: 14px;
    color: #0f0e17;
}

main .progress p {
    width: 100%; 
    margin-bottom: 3px;
    text-align: right; 
    color: #1b1616; 
    font-size: 14px; 
    font-weight: 300px;
    font-family: Poppins; 
    line-height: 22px; 
}

main .progress-bar {
    width: 100%;
    height: 10px; 
    background: #ededed; 
    border-radius: 99999px;
    position: relative;
}

main .progress-bar::before{
    content: '';
    width: 80%;
    height: 10px;
    position: absolute;
    background: #3C93F5; 
    border-radius: 99999px;
}

main .card:nth-child(2) .progress-bar::before,
main .card:nth-child(3) .progress-bar::before{
    content: '';
    width: 100%;
    height: 10px;
    position: absolute;
    background: #3C93F5; 
    border-radius: 99999px;
}

main .chat {
    width: 100%; 
    height: auto; 
    padding: 8px 8px 8px 20px;
    background: #DEEEFF; 
    border-radius: 9999px; 
    justify-content: space-between; 
    align-items: center; 
    display: flex;
    gap: 12px;
}

main .chat p {
    margin: 0;
    flex-grow: 1;
    font-size: 15px;
    color: #000000;
}

main .chat-x {
    cursor: pointer;
    width: 46px; 
    height: 46px; 
    padding: 8px; 
    background: #2C2C2C; 
    border-radius: 9999px; 
    justify-content: center; 
    align-items: center; 
    display: inline-flex
}

main .chat-x img {
    width: 23px; 
    height: 23px;  
    justify-content: center; 
    padding: 8px; 
    margin-left: 10px;
}

/* popup aktivitas */
#popupp:target {
    opacity: 1;
    visibility: visible;
    z-index: 101;
}

#popupp:target .popup-container {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup-close:link,
.popup-close:visited {
    position: absolute;
    top: 12px;
    right: 20px;
    text-decoration: none;
    color: #f9f9f9;
    font-size: 30px;
    display: inline-block;
    line-height: 1;
    transition: all .3s;
}

.popup-close:hover,
.popup-close:active {
    color: #000000;
}

.popup {
    width: 100%;
    height: 100vh;
    background-color: rgba(232, 230, 241, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0px;
    visibility: hidden;

    transition: all .2s;
}

.popup-container {
    width: 40%; 
    padding: 30px;
    border-radius: 16px; 
    background: #2C2C2C;
    flex-direction: column; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.25);
    opacity: 0;

    transition: all .5s .1s;
}


.popup-header {
    justify-content: space-between; 
    align-items: center; 
    display: flex;    
}

.popup-header h2 {
    color: white; 
    font-size: 20px; 
    font-family: Poppins; 
    font-weight: 700; 
    line-height: 28px; 
}

.popup-header a {
    display: n;
    padding: 5px;
    margin-left: auto;
    color: white;
    font-size: 24px; 
    text-decoration: none; 

}

.input-container {
    background-color: #333;
    border-radius: 8px;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #aaaaaa;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #444;
    border-radius: 6px;
    background-color: #222;
    color: #ffffff;
    font-size: 14px;
}

input[type="text"]::placeholder,
textarea::placeholder {
    color: #777;
    font-style: italic;
}

textarea {
    height: 80px;
    resize: none;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
    border-color: #555;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #aaaaaa;
}

.separator {
    width: 50px;
    margin-bottom: 20px;
    border: 1px solid #444;
    border-radius: 6px;
    background-color: #222;
    font-size: 14px;   
    justify-content: center; 
    display: grid;
    place-content: center;
} 

.separator p {    
    font-size: 15px;
    color: #ffffff;

}

input[type="time"] {
    width: 100%;
    padding: 7px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 1px solid #444;
    border-radius: 6px;
    background-color: #222;
    color: #ffffff;
    font-size: 14px;
}

.time-inputs {
    display: flex;
    gap: 10px;
}

.time-input {
    flex: 1;
}

input[type="date"]::placeholder,
input[type="time"]::placeholder {
    padding: 10px;
    color: #f3f3f3;
    font-style: italic;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1); 
}

input[type="date"]:focus,
input[type="time"]:focus {
    outline: none;
    border-color: #555;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

.popup-button {
    display: flex; 
    justify-content: flex-end; 
    gap: 10px; 
    width: 100%; 
}

.popup-button .btn_popup {
    background-color: transparent;
    border: 0.5px solid #ffffff;
    font-size: 15px;
    color: #ffffff;
    height: 40px;
    width: 80px;
    border-radius: 50px;
    justify-content: center; 
    align-items: center;
    display: flex;
    cursor: pointer;
    text-decoration: none;
}

.save {
    background-color: #1E5FD7;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
}

.save p {
    font-size: 15px;
    color: #ffffff;
    margin: 0;
}

.no-scroll {
    overflow: hidden;
}



/* ================================== FOOTER ================================== */
footer .footer {
    background: var(--body-color);
    color: var(--text-general);
    padding: 5rem 0 2rem;
    line-height: 1.6em;
}

footer .main-footer {
    margin: 4rem 8% 0rem;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

footer .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 5rem;
    font-size: 16px;
    border-bottom: 1px solid #D9DBE9;
}

footer .footer-container i {
    color: var(--icon-color);
}

footer .footer-container .about p {
    margin-bottom: 10px;
}

footer .logo-container {
    display: flex;
}

footer .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

footer .footer-section {
    flex: 1;
    margin-right: 10px;
}

footer .footer-section h1,
footer .footer-section h2 {
    margin-bottom: 20px;
}

footer .footer-section p,
footer .footer-section ul,
footer .footer-section li {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer .footer-section ul li {
    margin-bottom: 10px;
}

footer .footer-section a {
    color: var(--text-general);
    text-decoration: none;
}

footer .footer-section a:hover {
    color: #49ccff;
}

footer .social-icons {
    display: flex;
    align-items: center;
    margin-top: 5px;
    font-size: 24px;
    gap: .5rem;
}

footer .social-icons a {
    margin-right: 10px;
    margin-top: 10px;
}

footer .footer-bottom {
    display: flex;
    justify-content: space-between;
}

footer .footer-bottom a {
    text-decoration: underline;
    color: var(--icon-color);
    transition: opacity .3s ease;
}

footer .footer-bottom a:hover {
    opacity: .7;
}

/* ========= Tablet Device ========= */

@media (max-width: 870px) {

    /* ================ Navbar Page ================ */
    nav .nav-bar {
        padding: 3rem 3rem;
    }

    nav .nav-bar .sidebarOpen {
        display: block;
        padding: 8px;
        background-color: var(--menu-color);
        border-radius: 50%;
    }

    nav .nav-bar .logo-navbar {
        display: block;
        margin-left: 1rem;
    }

    nav .nav-bar .menu .logo-toggle {
        opacity: 0;
        transition: all 1s ease-out;
    }

    nav.active .nav-bar .menu .logo-toggle {
        opacity: 1;
    }

    nav .nav-bar .menu {
        position: fixed;
        background-color: var(--menu-color);
        width: 320px;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(0px at 0% 0%);
        padding: 20px;
        z-index: 100;
        transition: all 1s ease-out;
    }

    nav.active .menu {
        clip-path: circle(1000px at 0% 0%);
        -webkit-clip-path: circle(1000px at 0% 0%);
        pointer-events: all;
        gap: 0;
    }

    nav .nav-links li {
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    nav.active .nav-links li:nth-child(1) {
        transition: opacity 0.5s ease 0.2s;
    }

    nav.active .nav-links li:nth-child(2) {
        transition: opacity 0.5s ease 0.4s;
    }

    nav.active .nav-links li:nth-child(3) {
        transition: opacity 0.5s ease 0.6s;
    }

    nav.active .nav-links li:nth-child(4) {
        transition: opacity 0.5s ease 0.7s;
    }

    nav.active .nav-links li:nth-child(5) {
        transition: opacity 0.5s ease 0.8s;
    }

    nav.active .nav-links li:nth-child(6) {
        transition: opacity 0.5s ease 0.9s;
    }

    nav.active .nav-links li:nth-child(7) {
        transition: opacity 0.5s ease 1s;
    }

    nav.active .nav-links li {
        opacity: 1;
    }

    nav .nav-bar .logo-navbar a {
        display: block;
        display: flex;
        transition: all 1s ease;
    }

    nav.active .nav-bar .logo-navbar a {
        opacity: 0;
        transition: all 1s ease;
    }

    nav .menu .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav.active .logo-toggle .sidebarClose {
        display: block;
        font-size: 24px;
        color: var(--icon-color);
        cursor: pointer;
        transition: all 1s ease;
    }
    
    nav .nav-bar .border-navlinks {
        background: none;
    }
    nav .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 30px;
        gap: 0;
        align-items: start;
    }

    nav .nav-links li a {
        display: block;
        margin: 20px;
        color: var(--text-general);
    }

    nav.active .nav-links li.dropdown a::before {
        display: none;
    }

    nav .border-navlinks {
        width: 100%;
    }

    /* Dropdown Mobile Devices */
    nav .dropdown {
        display: block;
    }

    nav .dropdown .dropdown-content {
        position: static;
        display: none;
        background-color: transparent;
        box-shadow: none;
        min-width: auto;
        border-radius: 0;
        width: 100%;
        margin-left: 1rem;
        top: initial;
    }

    nav .dropdown:hover .dropdown-content {
        display: block;
        padding: 0 1rem;
    }

    nav .dropdown .dropbtn {
        padding: 16px 20px;
    }

    nav .dropdown .dropbtn:hover {
        color: var(--text-active);
    }

    nav .dropdown .dropdown-content a {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: .5rem;
        padding: 5px;
        margin: 0;
    }

    nav .dropdown .dropdown-content a i {
        display: none;
    }

    nav .dropdown:hover .dropdown-content a i {
        display: inline-block;
    }

    nav .profileBox .popup-profile {
        right: -60%;
    }

    nav .popup-profile::before {
        display: none;
    }

    nav .profileBox .view-notif {
        right: -60%;
        width: 80vw;
    }

    nav .view-notif .tabcontent {
        padding: 0;
    }

    nav .view-notif .title {
        padding: 26px;
    }


    nav .view-notif .tabcontent .pesanBox {
     gap: 5px;   
     padding: 1rem;
    }

    nav .view-notif .tabcontent .pesanBox::before {
        width: 100%;
    }

    nav .view-notif .tabcontent .pesan-time {
        width: 15%;
    }

    nav .view-notif .tabcontent .pesan-Content {
        font-size: 13px;
    }

    nav .view-notif .tabcontent .pesan-Content button {
        font-size: 13px;
    }

    nav .navbar-link.link-active {
        color: var(--text-active);
    }

    .link-active {
        color: var(--text-active);
    }

    /* ================ Main Page ================ */
    main .recap-section {
        padding: 9rem 6% 5rem;
    }

    main .recap-content {
        gap: 4rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    main .recap-image {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    main .recap-image img {
        width: 85%;
    }

    main .challenge-section {
        flex-wrap: wrap;
    }

    main .challenge-content {
        width: 100%;
    }

    main .recap-stats {
        margin-top: 4.5rem;
    }

}

@media screen and (max-width: 450px) {

    /* ================ Navbar Page ================ */
    nav .nav-bar {
        padding: 20px;
    }

    nav .nav-bar .nav-links {
        padding-top: 20px;
    }

    nav .nav-bar .menu {
        width: 80%;
    }

    nav .nav-links li a {
        margin: 20px 5px;
    }

    nav .nav-bar .darkLigth-profile {
        gap: 1rem;
    }

    nav .darkLigth-profile .notif {
        margin-right: 1rem;
    }

    nav .btn__indicator {
        background: var(--menu-color);
        width: 40px;
        height: 40px;
    }

    nav .btn {
        background-color: var(--menu-color);
        height: 40px;
        width: 40px;
        padding: 0;
        box-shadow: none;
    }

    nav .btn_text {
        display: none;
    }

    .dark .btn__indicator {
        transform: translateX(0em);
        background: var(--menu-color);
    }

    .dark .btn {
        background-color: var(--menu-color);
        padding: 0;
        box-shadow: none;
    }

    nav .btn_icon.animated {
        animation: scale-rotate 0.5s ease-in-out;
    }
    
    @keyframes scale-rotate {
        0% {
            transform: scale(.5) rotate(0deg);
            opacity: 0;
        }
        100% {
            transform: scale(1) rotate(360deg);
            opacity: 1;
        }
    }


    nav .profileBox .profil > span {
        display: none;
    }

    nav .dropdown .dropbtn {
        padding: 20px 5px;
    }

    nav .dropdown:hover .dropdown-content {
        padding: 0;
    }

    nav .profileBox .popup-profile {
        right: -65px;
        width: 240px;
    }

    nav .notif.active~.view-notif {
        bottom: -35rem;
    }

    nav .profileBox .view-notif {
        width: 94vw;
        right: -68%;
        height: 34rem;
    }

    nav .view-notif .tab button {
        font-size: 12px;
        padding: 5px;
    }

    nav .view-notif .tab button span {
        display: none;
    }

    nav .view-notif .tabcontent .pesanBox {
        gap: 10px;
    }

    nav .view-notif .title {
        padding: 24px 24px 5px 24px;
    }

    nav .view-notif .tabcontent .pesan-Content {
        font-size: 12px;
    }

    nav .view-notif .tabcontent .pesan-time {
        width: 20%;
    }

    nav .view-notif .tabcontent .pesan-Icon {
        width: 20%;
    }

    nav .view-notif .tabcontent .pesan-Icon i {
        font-size: 25px;
    }

    nav .view-notif .tabcontent .pesan-Content button {
        font-size: 12px;
    }

    /* ================ Main Page ================ */
    main .recap-section {
        padding: 7.5rem 8% 3.5rem;
    }
    main .recap-content {
        gap: 3rem;
    }

    main .recap-list h2 {
        font-size: 27px;
    }

    main .recap-list p {
        font-size: 14px;
    }

    main .recap-stats {
        margin-top: 3.5rem;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    main .stat h3 {
        font-size: 18px;
    }

    main .stat .content-stat p {
        font-size: 13px;
    }

    main .stat svg {
        width: 24px;
        height: 24px;
    }

    main .challenge-section {
        width: 100%;
        padding: 0rem 8% 3.5rem;
        gap: 3.5rem;
    }

    main .stat {
        width: min(38vw,100%);
        padding: 1rem;
        gap: 12px;
    }
    main .stat .content-stat {
        width: 100%;
    }

    main .challenge-content h3 {
        font-size: 27px;
    }

    main .challenge-content p {
        font-size: 14px;
    }
    
    main .challenge-content .challenge-button {
        width: 180px;
        font-size: 14px;
    }

    main .cards {
        flex-wrap: wrap;
    }

    main .card p {
        font-size: 12px;
    }

    main .card h2 {
        font-size: 14px;
        margin-bottom: 0;
    }

    main .look {
        padding: 10px 12px;
    }

    main .chl h2 {
        font-size: 16px;
    }

    main .look p {
        display: none;
    }

    main .challenge-daily {
        padding: 20px;
    }

    main .challenge-daily .chat svg {
        width: 45px;
        height: 45px;
    }

    main .chat p {
        font-size: 12px;
    }

    main .chat-x{
        width: 30px;
        height: 30px;
        padding: 3px;
    }

    .popup-container {
        width: 90%;
        padding: 20px;
    }

    .time-inputs {
        gap: 5px;
    }

    input[type="time"] {
        margin-right: 0;
    }

    /* ================ Footer Page ================ */
    footer .main-footer {
        margin: 0 8%;
    }
    footer .footer {
        padding: 20px 10px;
    }

    footer .footer-container {
        gap: 40px;
        padding-bottom: 20px;
    }

    footer .footer-container .about p {
        font-size: 14px;
    }

    footer .logo {
        margin-right: 2px;
    }

    footer .footer-section h2 {
        font-size: 20px;
    }

    footer .footer-section li a {
        font-size: 14px;
    }

    footer .footer-section-links {
        justify-content: space-between;
        flex-direction: column;
        display: inline-block;
        width: auto;
        margin-right: 20px;
    }

    footer .social-icons {
        margin-bottom: 1rem;
    }

    footer .footer-bottom {
        justify-content: start;
        gap: 1rem;
        font-size: 14px;
    }

    footer .footer-bottom p:last-child {
        display: none;
    }

    footer .footer-section h1 {
        margin-bottom: 0;
        font-size: 27px;
    }

    #progress {
        width: 45px !important;
        height: 45px !important;
    }
    
    #progress_value {
        height: calc(100% - 10px) !important;
        width: calc(100% - 10px) !important;
        font-size: 25px !important;
    }
    

}

@media screen and (max-width: 290px) {
    main .stat {
        width: 100%;
    }
}


/* ================ Loading Page ================ */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--body-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity .5s, visibility .5s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    position: relative;
    width: 50px;
    height: 50px;
    filter: url(#Gooey);
    animation: animate 10s linear infinite;
}

.loader span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    transform: rotate(calc(51.6deg * var(--i)));
}

.loader span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background: linear-gradient(45deg, hwb(208 45% 0%), #1b89ff);
    border-radius: 50%;
    box-shadow: 0 0 1px #60b3fa;
}

.rotate {
    animation: animate 2.5s ease-in-out infinite;
    animation-delay: calc(-0.2s * var(--j));
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

/* ================ ScrollBackToTop ================ */
html {
    scroll-behavior: smooth;
}

#progress {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 60px;
    width: 60px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    cursor: pointer;
}

#progress_value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #1e448a;
}